%h2
  #{@person.name}
- @person.try(:checkin_diffs).each_pair do |event, diffs|
  %h3= event
  -diffs.each do |diff|
    - color = diff.to_f > 0 ? 'black' : 'red'
    %div
      %font{color: color} #{diff}

%h3
  %a= link_to('Back', people_path)
